.borders{
    margin: 40px 0 40px 0;
}
.blog-laster{
    display: grid;
}

.blog-layout {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    gap: 40px;
}

/* MAIN */
.blog-heading {
    font-size: 36px;
    margin-bottom: 30px;
}

.blog-list {
    display: grid;
    gap: 32px;
}

/* BLOG CARD */
.blog-card {
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

.blog-thumb {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.blog-content {
    padding: 22px 26px 30px;
}

.blog-date {
    font-size: 13px;
    color: #8b6a4f;
    margin-bottom: 6px;
    display: inline-block;
}

.blog-title {
    font-size: 22px;
    margin: 6px 0 10px;
}

.blog-excerpt {
    font-size: 15px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 14px;
}

.blog-link {
    font-weight: 600;
    color: #bc7233;
    text-decoration: none;
}

/* PAGINATION */
.pagination {
    display: flex;
    gap: 8px;
    margin-top: 40px;
}

.page-btn {
    padding: 8px 14px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.page-btn.active {
    background: #8b6a4f;
    color: #fff;
    border-color: #8b6a4f;
}

/* SIDEBAR */
.blog-sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-box {
    background: #fff;
    padding: 22px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

.sidebar-title {
    font-size: 18px;
    margin-bottom: 14px;
}

.latest-posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.latest-posts li {
    display: flex;
    gap: 12px;
    margin-bottom: 14px;
}

.latest-posts img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 6px;
}

.latest-posts a {
    font-size: 14px;
    color: #222;
    text-decoration: none;
}

/* CTA */
.sidebar-cta {
    text-align: center;
    background: #8B5E3C;
    color: #fff;
    padding: 26px;
    border-radius: 14px;
}

.sidebar-cta h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.sidebar-cta p {
    font-weight: lighter;
}

.btn-cta {
    display: inline-block;
    margin-top: 12px;
    width: 100%;
    padding: 10px 18px;
    background: #fff;
    color: #8B5E3C;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .blog-layout {
        grid-template-columns: 1fr;
    }
}
